version: "3.9"

services:
  db:
    image: postgres:15
    container_name: transacciones_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: transacciones_redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: transacciones_backend
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - ./backend:/app

  worker:
    build: ./backend
    container_name: transacciones_worker
    command: ["bash", "-c", "rq worker transq"]
    depends_on:
      - redis
      - db
    env_file:
      - .env
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: transacciones_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data:
